<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/comments.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
    

</head>
<body>
        
    <nav class="menu">
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="" class="menu-link"><font size="15">ABOUT</font></a>
                </li>

                <li class="menu-item">
                        <a href="" class="menu-link" ><font size="15">WHAT?</font></a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link"><font size="15">LANGUAGE</font></a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link"><font size="15">PLATFORM</font></a>
                </li>                    
            </ul>
        </div>
        <a class="menu-toggle">
            <span class="menu-hamburger">
            </span>
        </a>
    </nav>
    <div class="jumbotron text-center" style="margin:-30px 0 10px 0">
        <h1>The Complete Javascript Course by Jonas Schmedmann</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="margin:10px 0 -10px 0">
                    <img alt="JonasSchmedman JS Course" src="../static/images/JsImage.jpg">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">            
        <a href="#demo1" data-toggle="collapse" class="section-headers">01. Course Intro</a>
        <div id="demo1" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
          
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    

       
    </div>
    <br>
    <br>
    <div>
        <a href="#demo2" data-toggle="collapse" class="section-headers">02. JavaScript Language Basics</a>
        <div id="demo2" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" alt="userImage class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
    <br>
    <div>
        <a href="#demo3" data-toggle="collapse" class="section-headers">03. How JavaScript Works behind the scenes</a>
        <div id="demo3" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
    <br>
    <div>
        <a href="#demo4" data-toggle="collapse" class="section-headers">04. JavaScript in the Browser: DOM Manipulation and Events</a>
        <div id="demo4" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
    <br>
    <div>
        <a href="#demo5" data-toggle="collapse" class="section-headers">05. Advanced JavaScript: Objects and Functions</a>
        <div id="demo5" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
    <br>
    <div>
        <a href="#demo6" data-toggle="collapse" class="section-headers">06. Putting It All Together: The Budget App Project</a>
        <div id="demo6" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
<br>
    <div>
        <a href="#demo7" data-toggle="collapse" class="section-headers">07. Next Generation JavaScript: Intro to ES6 / ES2015</a>
        <div id="demo7" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
<br>
    <div>
        <a href="#demo8" data-toggle="collapse" class="section-headers">08. Asynchronous JavaScript: Promises, Async/Await and AJAX</a>
        <div id="demo8" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
<br>
    <div>
        <a href="#demo9" data-toggle="collapse" class="section-headers">09. Modern JavaScript: Using ES6, NPM, Babel and Webpack</a>
        <div id="demo9" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
<br>
    <div>
        <a href="#demo10" data-toggle="collapse" class="section-headers">10. Final Course Exam: 30 Questions to Test Your JavaScript Knowledge</a>
        <div id="demo10" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
<br>
    <div>
        <a href="#demo11" data-toggle="collapse" class="section-headers">11. Conclusion</a>
        <div id="demo11" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>
    <br>
    <br>
    <div style="margin-bottom:100px">
        <a href="#demo12" data-toggle="collapse" class="section-headers">12. BONUS: A Node.js Crash Course</a>
        <div id="demo12" class="collapse panel panel-default">
            <div class="panel-body">
            <h4>Relevance</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            
            <h4>Comments</h4>
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Emrah.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Emrah</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Kemal.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Kemal</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Ahmet.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Ahmet</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div> 

            
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row  mb-2" >
                        <div class="col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="../static/images/Stefan.jpg" class="img-responsive rounded-circle"
                            style="max-height: 90px; max-width: 90px;" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9  rounded mb-2">
                            <h4 class="m-0">Stefan</h4><br/>
                            
                            <p class="mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
    </div>

              
        
    
    
    <script src="../static/scripts/main.js"></script>
</body>