<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/languages.css">
    <title>Self-Study Guides & Resources</title>
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
</head>

<body>
    <nav class="menu">
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-item">
                    <aside id='menuhover'>
                        <ul class="cl-menu">

                            <li>
                                <a href="#" class="menu-link">
                                    <font size="15">ABOUT</font>
                                </a>

                            </li>
                        </ul>
                    </aside>
                </li>
                <li class="menu-item">
                    <aside id='menuhover'>
                        <ul class="cl-menu">
                            <li>
                                <a href="#" class="menu-link">
                                    <font size="15">CURRICULUM</font>
                                </a>
                            </li>

                        </ul>
                    </aside>
                </li>
                <li class="menu-item">
                    <aside id='menuhover'>
                        <ul class="cl-menu">

                            <li>
                                <a href="#" class="menu-link">
                                    <font size="15">WHAT?</font>
                                </a>
                            </li>
                            <ul class="alt-menu-link">
                                <li>
                                    <a href="#">CHANGE ME IN INDEX MENU</a>
                                </li>

                            </ul>

                        </ul>
                    </aside>
                </li>
                <li class="menu-item">
                    <aside id='menuhover'>
                        <ul class="cl-menu">

                            <li>
                                <a href="#" class="menu-link">
                                    <font size="15">LANGUAGE</font>
                                </a>
                                <ul class="alt-menu-link">
                                    <li>
                                        <a href="comments.html">JAVASCRIPT</a>
                                    </li>
                                    <li>
                                        <a href="#">PYTHON</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">REACT</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </aside>
                </li>
                <li class="menu-item">
                    <aside id='menuhover'>
                        <ul class="cl-menu">

                            <li>
                                <a href="#" class="menu-link">
                                    <font size="15">PLATFORM</font>
                                </a>
                                <ul class="alt-menu-link">
                                    <li>
                                        <a href="#">YOUTUBE</a>
                                    </li>
                                    <li>
                                        <a href="#">UDEMY</a>
                                    </li>
                                    <li>
                                        <a href="#">UDACITY</a>
                                    </li>
                                    <li>
                                        <a href="#">FREECODECAMP</a>
                                    </li>
                                    <li>
                                        <a href="#">W3SCHOOLS</a>
                                    </li>
                                    <li>
                                        <a href="#">SOLOLEARN</a>
                                    </li>
                                    <li>
                                        <a href="#">CODEMURAI</a>
                                    </li>
                                    <li>
                                        <a href="#">STACKOVERFLOW</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </aside>
                </li>
            </ul>
        </div>
        <a class="menu-toggle">
            <span class="menu-hamburger">
            </span>
        </a>
    </nav>
    <div class="main-content">
        <div class="main-content_heading">
                <h1>JAVASCRIPT</h1>
            </div>
            <div class="single-language">
                
                <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                <div class="image-placeholder">
                        <h4>image placeholder text</h4>
                    </div>
                    <div class="single-language__info">
                            <p> <a href="#">The course name</a><br>
                            SECTIONS - includes comments & insights</p>
        
                    </div>
                    
            </div>
            <div class="single-language">
                
                    <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                    <div class="image-placeholder">
                            <h4>image placeholder text</h4>
                    </div>
                        <div class="single-language__info">
                            <p> <a href="#">The course name</a><br>
                            
                          
                                SECTIONS - includes comments & insights</p>
            
                    </div>
            </div>
            <div class="single-language">
                
                    <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                    <div class="image-placeholder">
                            <h4>image placeholder text</h4>
                    </div>
                        <div class="single-language__info">
                            <p> <a href="#">The course name</a><br>
                            
                          
                                SECTIONS - includes comments & insights</p>
            
                    </div>
            </div>
            <div class="single-language">
                
                    <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                    <div class="image-placeholder">
                            <h4>image placeholder text</h4>
                    </div>
                        <div class="single-language__info">
                            <p> <a href="#">The course name</a><br>
                            
                          
                                SECTIONS - includes comments & insights</p>
            
                    </div>
            </div>
            <div class="single-language">
                
                    <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                    <div class="image-placeholder">
                            <h4>image placeholder text</h4>
                        </div>
                        <div class="single-language__info">
                                <p> <a href="#">The course name</a><br>
                                SECTIONS - includes comments & insights</p>
            
                        </div>
                        
                </div>
                <div class="single-language">
                    
                        <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                        <div class="image-placeholder">
                                <h4>image placeholder text</h4>
                        </div>
                            <div class="single-language__info">
                                <p> <a href="#">The course name</a><br>
                                
                              
                                    SECTIONS - includes comments & insights</p>
                
                        </div>
                </div>
                <div class="single-language">
                    
                        <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                        <div class="image-placeholder">
                                <h4>image placeholder text</h4>
                        </div>
                            <div class="single-language__info">
                                <p> <a href="#">The course name</a><br>
                                
                              
                                    SECTIONS - includes comments & insights</p>
                
                        </div>
                </div>
                <div class="single-language">
                    
                        <!-- ^^^^^^^^^^^^^(to be substituted for language in js) -->
                        <div class="image-placeholder">
                                <h4>image placeholder text</h4>
                        </div>
                            <div class="single-language__info">
                                <p> <a href="#">The course name</a><br>
                                
                              
                                    SECTIONS - includes comments & insights</p>
                
                        </div>
                </div>
            
            




        


    </div>
    <script src="../static/scripts/main.js"></script>
</body>

</html>