
@import url(https://fonts.googleapis.com/css?family=Rajdhani);

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #D2C3C3;
}

.menu{
    height:100% ;
    overflow: hidden;

}

.menu-container{
    will-change: transform, height;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    font-family: Rajdhani;
  
}

nav.active .menu-container{
    transform: translate3d(-0px, 0px, 0px) rotate(0deg);
    background-color: #D2C3C3;
}

.menu-list{
    margin: 0;
    padding: 350px 320px 320px 550px;
    list-style: none;
}

.menu-item{
    padding: 0.3rem 0;
}

.menu-link{
    color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Rajdhani;
    /* font-weight: bold; */
    opacity: 0;
    transition: .3s;
}

nav.active .menu-link{
    color: black;
    font-size: .9rem;
    font-family: Rajdhani;
    opacity: 1;
    transition-delay: 0.3s;
    align-items: center;
}

.menu-toggle{
    /* display: block; */
    position: absolute;
    background-color: #C4C4C4;
    height: 100px;
    width: 100px;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    /* background: transparent; */
    cursor: pointer;
}

.menu-hamburger, .menu-hamburger:before, .menu-hamburger:after{
    background-color: black;
    height: 4px;
    width: 50px;
    display: block;
    transition: all .3s;
}

.menu-hamburger{
    position: relative;
    top: 48px;
    left: 25px;
}

.menu-hamburger:before{
    content: "";
    position: absolute;
    top: -10px;
}

.menu-hamburger:after{
    content: "";
    position: absolute;
    bottom: -10px;
}

.menu.active .menu-hamburger:before{
    transform: rotate(-45deg);
    top: 0px;
}

.menu.active .menu-hamburger:after{
    transform: rotate(-135deg);
    bottom: 0px;
}

.menu.active .menu-hamburger{
    background: transparent;
}

.index-image {
    background-image: url("../images/max-chen-1182043-unsplash-min-1024x768.jpg");
    background-color: #cccccc;
    /* background-position: 50% 50%;; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* position: relative; */
    position: absolute;
    /* width: 1024px;
    height: 768px;*/
    left: 80px; 
    top: 80px;
    right: 80px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
    align-items: center;
  }
  
  .index-text1 {
    border-radius: 20px 20px 0px 20px;
    position: relative;
    background-color: #D2C3C3;
    border: none;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 650px;
    height: 50px;
    margin: 50px auto 50px auto;
    max-width: 100%;
    display: flex;
    font-family: Rajdhani;
    /* font-weight: bold; */
    justify-content: space-around;
    align-items: center;
  }

  .index-text2 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 28px;
  }

  .button1 {
    /* display: inline-block; */
    border-radius: 20px 20px 0px 20px;
    position: relative;
    background-color: #D2C3C3;
    border: none;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 200px;
    height: 50px;
    margin: 350px auto 150px auto;
    max-width: 50%;
    display: flex;
    font-family: Rajdhani;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;  
    cursor: pointer;
  }

  #index-text-container{
    background-color: #D2C3C3;
  }

  .index-text3{
    background-color: yellow
  }